@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
    background: url("../Back3.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-size: 40px;
}

.container-fluid {
    padding-top: 100px;
}

.logo {
    width: 500px;
    margin-left: 110px;
}

.sidebar {
    margin-top: 50px;
    margin-left: 110px;
    width: 200px;
    height: 100%;
    padding: 0px;
    overflow: auto;
    position: fixed;
}

.sidebar a {
    font-size: 20px;
    display: block;
    color: white;
    padding: 10px;
    text-decoration: none;
}

.sidebar a.active {
    background-color: white;
    color: #52037A;
}

.sidebar a:hover:not(.active) {
    background-color: black;
    color: white;
}

.footer {
    font-size: 18px;
    position: fixed;
    margin-left: 110px;
    bottom: 0;
    text-align: center;
}

.ico {
    height: 26px;
    margin-right: 15px;
}

.icn {
    width: 110px;
    margin-left: 110px;
    margin-top: 4px;
}

a {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Bebas Neue', cursive;
    margin-bottom: 10px;
}

.about {
    font-size: 25px;
}

.photos {
    width: 200px;
    height: 250px;
    border-radius: 10px;
}

.card {
    color: black;
    width: 17rem;
    height: 30rem;
}

.proj {
    font-size: 20px;
}

.card a {
    font-size: 20px;
}

.contact{
    font-size: 30px;
}

.line{
    text-decoration: line-through;
}

@media only screen and (max-width: 600px) {

    body {
        background: black;
    }

    .logo {
        margin-left: 70px;
        margin-right: auto;
        width: 200px;
    }

    .icn {
        width: 43px;
        margin-left: 150px;
    }

    .sidebar {
        padding: 0;
        width: 150px;
        overflow: auto;
        position: fixed;
        margin-left: 100px;
        margin-right: auto;
    }

    .sidebar a {
        text-align: center;
        float: none;
        font-size: 10px;
    }

    .footer {
        font-size: 12px;
        position: fixed;
        margin-left: 110px;
        bottom: 0;
        text-align: center;
    }

    .ico {
        height: 20px;
        margin-right: 10px;
    }

    h1,
    h2,
    h3,
    h4,
    h5 {
        font-family: 'Bebas Neue', cursive;
        font-size: 20px;
    }

    .about {
        font-size: 13px;
    }

    .titleAbout {
        margin-top: 300px;
    }

    .endAbout {
        margin-bottom: 100px;
    }

    .photos {
        width: 0px;
        height: 0px;
        border-radius: 10px;
    }

    .card {
        color: black;
        width: 8rem;
        height: 30rem;
        margin-bottom: 10px;
    }


    .proj {
        font-size: 10px;
    }

    .card a {
        font-size: 10px;
    }

    .box{
        margin-top: 300px;
        margin-bottom: 100px;
    }

    .contact{
        font-size: 13px;
    }
    

}