@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body {
    background: url("../Back3.png");
    background-repeat: no-repeat;
    background-size: 1450px 850px;
}

.photo {
    margin-top: 50px;
}

.photos {
    width: 250px;
    height: 300px;
    border-radius: 10px;
}

.logo {
    width: 500px;
    margin-top: 100px;
    margin-left: 60px;
}

.icn {
    width: 110px;
    margin-left: 60px;
    margin-top: 104px;
}

.sidebar {
    margin-top: 50px;
    margin-left: 50px;
    padding: 0;
    width: 200px;
    height: 100%;
    overflow: auto;
    position: fixed;
}

.sidebar a {
    font-size: 20px;
    display: block;
    color: white;
    padding: 10px;
    text-decoration: none;
}

.sidebar a.active {
    /* border-radius: 10px; */
    background-color: white;
    color: #52037A;
}

.sidebar a:hover:not(.active) {
    /* border-radius: 10px; */
    background-color: black;
    color: white;
}

.row {
    color: white;
}

.foot {
    margin-left: 30px;
    margin-top: 430px;
}

.ico {
    padding: 10px;
    height: 40px;
}

a {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

.box {
    margin-top: 100px;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Bebas Neue', cursive;
    margin-bottom: 10px;
}

.card {
    color: black;
    width: 17rem;
}

.box p {
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
}

.line {
    text-decoration: line-through;
}

.footer {
    position: fixed;
    margin-left: 20px;
    bottom: 0;
    color: white;
    text-align: center;
}

textarea {
    width: 300px;
    height: 150px;
}

@media only screen and (max-width: 600px) {
    body {
        background: black;
    }

    .logo {
        width: 600px;
    }

    .icn {
        margin-left: 250px;
        height: 180px;
        width: 200px;
    }

    .sidebar {
        padding: 0;
        width: 600px;
        height: 100%;
        overflow: auto;
        position: fixed;
    }

    .sidebar a {
        text-align: center;
        float: none;
        font-size: 40px;
    }

    .footer {
        margin-left: 150px;
        font-size: 40px;
        position: fixed;
        color: white;
        text-align: center;
    }

    .ico {
        height: 80px;
    }

    .resMe {
        margin-top: 800px;
    }

    .resPort {
        margin-top: 800px;
    }

    .card {
        width: 250px;
    }
}